<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>EMS</title>
    <script src="https://kit.fontawesome.com/3913d1359b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../CSS/hehe.png">
    <link rel="stylesheet" href="./CSS/EmployeeInterface.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="../CSS/emslogo.gif" alt="">
                    <span class = "nav-item"> EMS </span>
                </a>
            </li>
         <li><a href="#">
            <i class="fa-sharp fa-solid fa-house"></i>
            <span class="nav-item">Home</span>
         </a></li>
         <li><a href="#">
          </a></li>
             <li><a href="#">
           </a></li>
             <li><a href="#">
             <i class="fa-sharp fa-solid fa-gear"></i>
             <span class="nav-item">Settings</span>
         </a></li>
           </a></li>
             <li><a href="#" class="logout">
             <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
             <span class="nav-item">Log out</span>
         </a></li>
        </ul>
    </nav>
</body>
</html>