@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,200&display=swap');
:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#677483;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 0.5rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    
}

* {
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: 14rem auto 50rem;
}

a{
    color:var(--color-dark);
}

h1{
   font-weight: 800;
   font-size: 0.8rem; 
}

h2{
    font-size: 1.4rem;

}
h3{
    font-size: 0.75rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color:var(--color-info-dark);
}

p{
    color: black;
}

b{
    color:var(--color-dark);
}

.primary{
    color:var(--color-primary);
}

.danger {
    color:var(--color-danger);
}

.success{
    color:var(--color-success);
}
.warning{
    color:var(--color-warning);
}

aside{
    height: 100vh; 
    background:white ;
}

aside .top{
    background:white ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 4rem;
    height: 4rem;
}

aside .close{
    display: none;
}

hr {
  margin-top: 5px;
  height: 5px;
  border-width: 0;
  background-color:#7380ec;
}

/*=========== SIDEBAR============ */

aside .sidebar,
aside .sidebar button{ 
    background: white;
    display: flex;
    flex-direction: column;
    height: 65vh;
    position: relative;
    top: 3rem;
    margin-left: 20px;
}

aside .sidebar .material-symbols-sharp{
    margin-top: auto;
    margin-bottom: auto;
}

aside .sidebar h3{
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

aside .sidebar a{
    display: flex;
    color:var(--color-info-dark);
    margin-left: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: -7rem;
    width: 100%;
}

aside .sidebar a.active{
    background:  var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 4px;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{ 
    margin-left: 1rem;
}

/*=====MAIN====*/

main{
  margin-top: 1.4rem;
}

main table{
  width: 1200px;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffff;
}
  
main table a{
  color: rgb(8, 7, 7);
}
  
main button{
  background: #a5a6aa;
}
  
main td{
  text-align: center;
}
  
main table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
}
  
main th, td{
  padding: 5px;
}
  
main table #decision{
  width: 50px;
}