<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=chrome">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EMS</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet">
        <link rel="shortcut icon" href="../CSS/hehe.png">
        <link rel="stylesheet" href="../CSS/MachineLearningForm.css">
    </head>

    <body>
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="https://cdn.discordapp.com/attachments/1075714300020269127/1075714382060847184/emslogo.gif">
                        <h2 >EMS </h2>
                    </div>
                </div>

                <hr>

                <div class="sidebar">
                    <a href="/ClientInterface" class="active">
                        <span class="material-symbols-sharp">dashboard</span>
                        <h3> Dashboard</h3>
                    </a >
                    <a href="/Schedule">
                        <span class="material-symbols-sharp">calendar_month</span>
                        <h3>Schedule</h3>
                    </a>
                    
                    <a href="/MachineLearningForm">
                        <span class="material-symbols-sharp">work</span>
                        <h3>Job Order</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                    <a href="#" onclick="logoutSubmit()">
                        <span class="material-symbols-sharp">logout</span>
                            <h3>Log Out</h3>
                    </a>
                </div>
            </aside>
        <script src="/JS/sidebar.js"></script>
        <script src="/JS/JobOrder.js"></script>
    </body>
</html>